header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid rgb(230, 229, 229);
    & .container {
        & .row {
            & .col {
                margin: 12px 0;
            }
        }
    }
    & .nav-link {
        color: #212529!important;
    }
}