header {
    background-color: #93b5b3;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    & .container {
        & .row {
            & .col {
                margin: 12px 0;
            }
        }
    }
}